<% @body_id = 'home-page' %>

<%# content_for :sidebar do %>
  <!--<div data-hook="homepage_sidebar_navigation">-->
    <%#= render partial: 'spree/shared/taxonomies' %>
  <!--</div>-->
<%# end %>


<div class="container">
<%= render partial: 'spree/home/main_info' %>
</div>



<div id="hot" data-animate="fadeInUp">
  <div class="box">
      <div class="container">
          <div class="col-md-12">
              <h2>Conoce nuestros productos</h2>
          </div>
      </div>
  </div>


  <div class="container">
    <div data-hook="homepage_products">
      <% cache(cache_key_for_products) do %>
        <%= render partial: 'spree/shared/products', locals: { products: @products } %>
      <% end %>
    </div>
  </div>

</div>